body{
  padding: 0;
  margin: 0;
  background-color: #6b4e65;
  color: white;
   overflow: hidden;
}

.landing_counter_container{

  border: 5px solid rgb(210, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 .landing_counter{
 
  padding: 2rem;
  text-align: center;
 
  
}

.new-page {
  animation: slide-up .9s ease-in-out;
  height:100vh;
  width:100%;
  color: black;
}

@keyframes slide-up{
  from{
      transform: translateY(100%);
  }
  to{
      transform: translateY(0);
  }
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.nav_items{
  display: flex;
  list-style: none;
}
.nav_items > li{
  margin: 10px;
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
