body{
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom,#1F1D1C,#170703);
  color: #f3ddb6;
   /* overflow: hidden; */
}

.landing_counter_container{

  border: 5px solid rgb(210, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 .landing_counter{
 
  padding: 2rem;
  text-align: center;
 
  
}

.new-page {
  animation: slide-up .9s ease-in-out;
  height:100vh;
  width:100%;
  color: #f3ddb6;
}

.new-page h1{
  font-size: 150px;
  display: inline;
  margin-left: 5%;
  width: 10vh;
}

@keyframes slide-up{
  from{
      transform: translateY(100%);
  }
  to{
      transform: translateY(0);
  }
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.nav_items{
  display: flex;
  list-style: none;
}
.nav_items > li{
  margin: 10px;
  
}
.list_nav_item a, a{
  text-decoration: none;
  color: #f3ddb6;
}

.home_container{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
.text_about_me{
  width: 100%;
  margin-left: 6%;
}
.text_about_me p {
  font-size:30px;
  width: 50%;
  margin-left: 30%;
  margin-top: 3%;
}
.my_image img{
  height: 90vh;
  
}
.profession{
  margin-left: 10%;
  width: 50%;
}
.profession span{
  font-size: 25px;
}
/* div{
  border: 2px solid black;
} */
.my_image{
  flex: 1;
  margin-right: 150px;
}
.landing_counter{
  font-size: 90px;
}
/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
