@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');.project_imgs{
  display: flex;
  justify-content: space-around;
}
.project_imgs img{
  height: 25vh;
}
/* .works_title{
  display: flex;
  justify-content: center;
} */
.works_title h2{
  font-size: 180px;
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: 10%;
  color: #eb5c33;
  
}

/* .works_title span{ */
  /* margin-top: 40px; */
  /* position: absolute; */
  /* top: 60px; */
  /* right: 25%; */
/* } */
h3{
  /* font-size: 50px; */
  margin: 0;
  font-size: max(1.25rem,min(3vw,2rem));
  font-family: 'Nanum Gothic', sans-serif;}
.works_image_container {
  position: relative;
  overflow: visible;
}

.works_image_container:hover .overlay {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  transition: width 0.5s;
}

.overlay-content {
  /* color: white; */
  margin-left: 10px;
  margin-top: 18%;
}

.languages {
  position: absolute;
  top: 0;
  right: -150px;
  width: 150px;
  height: 92%;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  box-shadow: -8px 0px 16px 0px rgba(0,0,0,0.2);
  transition: right 0.5s;
  display: none;
}

.works_image_container:hover .languages {
  right: -51%;
  display: block;
}